/* Garamond from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

/* Variables CSS */
:root {
    /* colors */
    /* color mode HSL(hue, saturation, lightness */
    --first-color: hsl(353, 100%, 65%);
    --title-color: hsl(244,24%,26%);
    --text-color: hsl(244, 16%, 43%);
    --body-color: hsl(258, 60%, 98%);
    --container-color: #fff; 
    
}